html{
    min-height: 100%;
}
body{
    width: 100%;
    background-color: whitesmoke;
}

.headerVertical{
    height: 12vh;
    position: relative; 
    text-align: center;
    width: 100%;
    color: #035e7b;
    margin: 0;
    padding: 0;
}

header a {
    text-decoration: none;
    color: #035e7b;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
}

a:hover{
    text-emphasis: none;
    text-decoration: none;
    color: #035e7b;
}

.wrapper{
    width: 80%;
    margin:0 auto;
}
.info_text{
    background-color: #035e7b;
    color: white;
    padding: 10px 10px 10px 10px;
    margin: 0 auto;
}

.bg-dark-turquoise{
    background-color: black;
    color:white;
}

.bg-odd-blue{
    background-color:  #035e7b;
    color:white;

}

.bg-odd-blue a{
    color: white;
    text-decoration: none;
}
#displayTags{
    text-align: center;
}
.results_card{
    color:white;
    text-align: center;
}

@media screen and (max-width:690px){
    .wrapper{
        width: 100%;
    }
    header a h1 {
        font-size: 30px;
    }

}
@media screen and (max-width:350px){
    .wrapper{
        width: 100%;
    }
    header a h1 {
        font-size: 25px;
    }

}