#favoritesListed{
    text-align: center;  
    padding: 4px;
    border-radius: .25em;
    
}
#favoritesDiv{
    float: left;
    background-color: black;
    color: white;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin-right: 10px;
}
#favorites-intro{
    border-radius: .25em;
    background-color: #035e7b;
    color: white;
    padding: 10px;
}
.card-columns{
    justify-content: center;
}

.container{
    width: 75%;
}

@media screen and (max-width:690px){
    #favoritesDiv{
        width: 100%;
        float: none;
    }
    .card-columns{
        width: 100%;
        column-count: 1;
    }
    .container{
        width: 100%;
    }
}
@media screen and (max-width:1024px){
    #favoritesDiv{
        width: 100%;
        float: none;
    }
    .container{
        width: 100%;
    }
    .card-columns{
        width: 100%;
        column-count: 2;
    }
}